invalid reference to RFC 9002

Section 6.3 references section 18.2 of RFC 9002. However, RFC 9002 only has a total of 9 sections.

I assume it is supposed to reference section 6.1.1.