latency required to detect packet reordering threshold

Per [Section 6.1.1 of RFC 9002](https://www.rfc-editor.org/rfc/rfc9002.html#section-6.1.1-1), the recommended value of packet reordering threshold is 3. That means that with vanilla QUIC v1, the sender would notice a single packet loss without any ack delay being introduced by the receiver. That's because when the receiver notices a gap, it sends an ACK immediately, then after receiving two more packets, it sends another ACK immediately.

With the ack-frequency extension, this behavior changes.

When the receiver notices a gap, one ACK is sent immediately. But after that, the next ACK will not be sent until the expiry of one of the thresholds being declared by the ACK_FREQUENCY frame.

To give an example, let's say that Ack-Eliciting Threshold is set to 1/8 of CWND, and Request Max Ack Delay is set to 1/8 of RTT.

Then, when there is one packet loss (or one range of packets being lost), the sender cannot notice that packet loss based on the packet reordering threshold until 9/8 RTT after the packet(s) was being sent.

Is this going to be an issue for QUIC performance? I ask this because, compared to TCP, many have highlighted the improved efficiency of recovery in QUIC as one of the benefits.

> This is exactly what I was trying to mitigate with #35, but I think you explained the issue better than I did.

I see, sorry for revisiting the issue. I hope we'd resolve the issue correctly this time.

> I'd like to agree on the properties we want. 

Makes sense. The properties that I had in my mind were slightly different from what you have:
* send ACKs no more than vanilla QUIC v1
* send ACKs to make sure that losses are detected as early as vanilla QUIC v1
* provide opportunity to deal with ACK-losses, so that even when there are ACK losses, losses can be detected as early as vanilla QUIC v1

The reason I would not mind sending two or three ACKs to indicate one gap is because packet losses are rare. Let’s say that average packet loss ratio is 1%. Then, assuming Reordering Threshold of 3, the debate is between if the number of ACKs being sent in response to gaps would be ~1% of the packets that the sender sends, or ~2% of the packets that the sender sends (in case of the algorithm described in https://github.com/quicwg/ack-frequency/issues/96#issuecomment-947423006).

I must admit that the number of ACKs used for indicating one gap increases relative to the Reordering Threshold, but I’m not sure if we want to use values above 3.

All that said, I would be fine with the properties you describe, as I think the required algorithm is going to be simple enough, and because ACK loss is not a big problem assuming that packet losses are rare in general.

Though I think there's a tiny bug in the algorithm being proposed:

> * When the new largest acknowledged is: `>= (smallest missing PN greater than largest_acknowledged_sent) - Reordering Threshold`, send an immediate ACK.

I think this should be something like:
* When the new largest acknowledged is : `>= (smallest missing PN greater than (largest_acknowledged_sent - Reordering Threshold)) - Reordering Threshold`, send an immediate ACK.

Otherwise, if an ACK is sent due to other reasons immediately after a gap, then that gap would not be notified at the earliest moment. One example is PN=255 being lost, then PN=256 received and ACK being sent due to Ack-Eliciting Threshold. When the receiver receives PN=257 and PN=258, then it should send an immediate ACK, assuming Reordering Threshold of 3.

As I said on the mike during the WG meeting, there are two ways of distinguishing expected renumbering from packet losses. One is to check sequence numbers, and assume packet loss if >N packets received after hole. Another is a to check a reordering delay, if >T passes and the hole is still there. What I found in practice is that reordering delay thresholds work better than reordering number thresholds. Would be nice if the PR allowed for specifying a reordering delay, independent of the already specified ACK delay.

So let me understand the goal: you want to force an acknowledgment if a gap persists.

A gap appears because a packet with a larger packet number is received.  Then:

Time:
At that time, start a timer for some time less than the maximum acknowledgment delay and send an acknowledgment if the packet is still missing when the timer pops.  (I'm not sure how to do this without having a timer running for every missing packet.)

Number:
This only requires that N packets after the gap arrive.  I think that I understand Ian's algorithm for this.

In practice, you check the time of arrival of the following packets, and if the gap-delay is exceeded you fire the ACK.

@huitema I think the point here is that the receiver has to remember _when_ each packet was received, in addition to the packet numbers. That means that QUIC stacks have to change to the design of their ack queue, which makes this extension something much harder to implement than what it is now. At the moment, this extennion does not require changes to existing data structure.

Separately, I am not sure how valuable it is to specify a signalling mechanism for time-based gap detection.

ACK_FREQUENCY frame already has Request Max Ack Delay field for time-based signalling. Senders can set this value to a fraction of RTT (e.g., 9/8 RTT) to induce ACK earlier than when the senders' time-based loss detection should be kicked.

Such approach does have the downside of Inducing ACKs regardless of having gaps. But IMO, that is not a big issue, because:
* Most congestion controllers require ACKs to be sent within a fraction of RTT.
* Reducing the number of ACKs from one per two ack-eliciting packets to one per fraction of RTT is important (because the reduction of ACKs by their numbers is huge), but going below that is not important.

Considering these aspects, I am personally happy with _only_ having the packet-number based gap reporting mechanism as proposed by Ian in #100. 

@kazuho I suppose that there is some equivalence between "wait for N packets" and "wait for T milliseconds". If I had to not use a time delay, I would set N = CWIN*T/RTT. Or vice versa. After all, the scope of the reordering is either a fraction of the CWIN or a fraction of the RTT, depending how you look at it. I get the feedback that reasoning on packet numbers is easier for several implementations, so OK. Let's just use packet numbers.

I've looked at the pull request and I think that the technical mechanism is sound.  However, it took me a long time to get there using this discussion and the proposed text.  The explanation needs a lot of work.  I'll break this into several comments.

### Model

The definition @ianswett uses [here](https://github.com/quicwg/ack-frequency/issues/96#issuecomment-947678438) is correct, but it is very much non-obvious from the explanation.  More text is needed in the pull request in order to explain why this is the case.

The goal here is to ensure that a new acknowledgment is sent that includes a (new) largest acknowledged that is more than the reordering threshold past a gap.  That is why you look for a gap before `largest received packet number - reordering threshold` (note: `largest_received`[^1]).  However, you don't want to send an immediate ACK if the other side already has actionable information.  So if the gap is before `largest acknowledged - reordering threshold`, then there is no point.

All of that needs to be clearly articulated.

### Counting Packets or Packet Numbers

I would also call attention to a critical difference between this and the ack-eliciting threshold.  The ack-eliciting threshold counts unacknowledged packets, without paying any attention to their packet number.  If there is a massive gap, that won't care.  The reordering threshold does care about packet numbers.

That leads to the point that the two values are not related in any way.  Either one can be larger with good reason, depending on how the sender is operating.

Now we get to the harder bits of feedback...

### Two Different Values in One

This change highlights how there are two piece of logic in play:

1. The logic that determines when to send an immediate ACK in the presence of apparent reordering.  In [RFC 9000](https://quicwg.org/base-drafts/rfc9000.html#section-13.2.1-8.2), this occurs when any gap appears.  That equates to a recommended reordering threshold here of 1 (I think).

2. The logic that determines when a packet is lost when processing ACK frames.  In [RFC 9002](https://quicwg.org/base-drafts/rfc9002.html#name-packet-threshold) kPacketThreshold = 3.

This document sets both to the same value and provides no way to separate the two.  I think that's OK, but it is worth noting.  As a matter of principle it seems tolerable for the former to be smaller than the latter, as we did in the original RFCs, but it is worth aligning the two on the basis that getting out of sync can lead to immediate acknowledgments that don't directly help with loss recovery.

Again, I think that it is worth discussing this change, so that it is clear that the change is deliberate and to help readers understand what is going on.

### Values of 0 and 1

I can't see any functional difference between a reordering threshold of 0 and 1.  Is that right?  Could we benefit from changing the encoding to eliminate this redundancy?  (I don't think we need to here - neither value is nonsensical - but I wanted to double-check.)

### Examples

Finally, I think that some examples would do a lot to improve comprehension.

[^1]: Please don't call this `largest_acknowledged`, it's confusing: the logic here is going to decide whether this becomes the largest acknowledged packet; until then, it is the largest received packet (number).



@martinthomson I think your point about the two different value should be added. And the logic in PR #100 also needs to be clarified. But maybe we can just merge PR #100 for now and then start another PR?