Are ACK_FREQUENCY or IMMEDIATE_ACK congestion controlled?

[RFC 9000 Section 19.21](https://www.rfc-editor.org/rfc/rfc9000#section-19.21-4) requires that 

> Extension frames MUST be congestion controlled and MUST cause an ACK frame to be sent. The exception is extension frames that replace or supplement the ACK frame. Extension frames are not included in flow control unless specified in the extension.

I think we can put both of these in the non-congestion controlled bucket because they supplement ACK but if so, this document needs to be explicit about it.



I see IMMEDIATE_ACK as a PING frame on steroids: not only does it ping, but it also elicits an immediate acknowledgement. As such, I'd expect it to be congestion controlled.

As for the ACK_FREQUENCY frame, I'd also prefer it to be congestion controlled. My understanding of 19.21 is that the intention was to not congestion control frames that replace the ACK frame (e.g. an ACK frame with timestamps) or supplement the ACK frame (e.g. an extension that, if negotiated, adds fields to the RFC 9000 ACK frame).

Agreed, I would like these to be congestion controlled.  Dealing with things that aren't congestion controlled creates the potential for problems.
