What's the retransmission behavior for the ACK_FREQUENCY and IMMEDIATE_ACK frames?

The draft does not specify retransmission behavior for the two new frame types.

Based upon the frame descriptions, I think it would be reasonable that the ACK_FREQUENCY frame should be retransmitted but not the the IMMEDIATE_ACK. For the latter, the timeout or the ACK that triggers the retransmission would render it useless.

If this behavior is correct, can we specify it in the draft?

I think it might make sense to say something along the lines of "the information that might be carried in frames is sent again in new frames as needed." ([RFC 9000 section 13.3](https://quicwg.org/base-drafts/rfc9000.html#section-13.3-1)), as well as possibly adding a link to that section.

I'm not sure if we need to say anything more, because as stated there, RFC 9000 does not specify how control signals have to be retransmitted.

That makes sense for the ACK_FREQUENCY frame. For the IMMEDIATE_ACK frame, I am not there is any use in retransmitting it.

For ACK_FREQUENCY we already have this text:

>ACK_FREQUENCY frames are ack-eliciting. However, their loss does not require
retransmission if an ACK_FREQUENCY frame with a larger Sequence Number value
has been sent.

However, I created a PR (#136) with the following clarification of this text:

> ACK_FREQUENCY frames are ack-eliciting. However, an ACK_FREQUENCY frame SHOULD
NOT just be retransmitted. Instead, a new ACK_FREQUENCY frame with a larger Sequence
Number value and potential updated information SHOULD be sent if loss was detected and
if a new ACK_FREQUENCY was not already sent in the mean time until the loss was detected.

And this new text for IMMEDIATE_ACK:

> IMMEDIATE_ACK frames SHOULD NOT be retransmitted. If loss is detected, based
on the receipt of an ACK frames, there is no need to request another ack. If
a packet containing IMMEDIATE_ACK and data is detected as lost due to an
time-out, the sender MAY send the retransmitted data again together with an
IMMEDIATE_ACK frame.

Does that make sense?

Yeah, I think that clarifies it. Thank you.

#136 was merged 

#136 not merged yet as discussion is still about using SHOULD or not.

I believe Kazuho is correct, and we tried not to use normative language around retransmission in RFC9000, so it seems like we should stick with that convention.

We now removed normative language and tried to keep it short. If more explanation is needed, maybe we can open a separate issue. Please review the (merged) PR #136.