Can we check that ACK Frequency is robust to loss?

I'd like to be sure that the advicde in the ACK Frequency I-D is not fargile to disruption of the return path - and this might depened on how often a receiver ACKs, how much it trims the ACK range info and whether some level of packet loss is tolerable for the sender to receive a full enough picture that CC isn't disrupted.

RFC9000 is quite robust to occassional ACK loss. It's one thing to eliminate useless ACKs, maybe though more thought is needed if a reduced rate results in a sender becoming unaware of patterns of loss on the forward direction, especially when there is also some non-zero loss on the return direction.

This may in someway be related in some way to "Trimmed Ack Ranges #323".


I think this issue is related to #323 and similar as I said there I think this is already addressed by RFC9000:

Section 13.2.1 of RFC9000 state the requirement that every packet must be acknowledge (at least once):
> Every packet SHOULD be acknowledged at least once, and ack-eliciting packets MUST be acknowledged at least once within the maximum delay an endpoint communicated using the max_ack_delay transport parameter; 

And in Section 13.2.4. on ACK ranges, it is stated an endpoint can detect if a packet containing an ACK frame was lost or received as as such can trim the ACK range based on this. Section 13.2.4. says
> When a packet containing an ACK frame is acknowledged, the receiver can stop acknowledging packets less than or equal to the Largest Acknowledged field in the sent ACK frame.

However it is also noted in the same section that the mechanism does not guarantee that every ack is seen by the sender:
> In cases with ACK frame loss and reordering, this approach does not guarantee that every acknowledgment is seen by the sender before it is no longer included in the ACK frame. Packets could be received out of order, and all subsequent ACK frames containing them could be lost. In this case, the loss recovery algorithm could cause spurious retransmissions, but the sender will continue making forward progress.

As such I think we can maybe add a note that a) the requirement to ack all packets is still true and needs to be considered, and b) a lower ack frequency could cause more spurious retransmissions if ACKs get lost and this needs to be considered as well when trimming the ACK range in an ACK frame.
