Specify in which packets ACK_FREQUENCY may appear

See Table in [Section 12.4](https://tools.ietf.org/html/draft-ietf-quic-transport-25#section-12.4) of the transport draft.

@ianswett and I chatted about this; summarizing. An endpoint's ACK_FREQUENCY_FRAME updates the received max_ack_delay. This makes all situations where an endpoint sends an ACK_FREQUENCY_FRAME without receiving the peer's max_ack_delay problematic. Since a client does not remember the peer's max_ack_delay, sending an ACK_FREQUENCY_FRAME that updates it makes little sense.

We should disallow ACK_FREQUENCY_FRAMEs in 0-RTT packets because a client does not have the base value which it wants to update with this frame until 1-RTT keys are established.

And we agree with @kazuho that #40 is intertwined with this issue, since if the transport parameter is not remembered, you can't send the ACK_FREQUENCY frame.

My preference here is "application" packet number space.

This means that the transport parameter needs to be remembered.  It also means that - because max_ack_delay is not remembered - that you have to avoid exceeding the max_ack_delay default.

My real issue is whether the frames might appear before the TP negotiation has concluded. The client should not send ACK FREQUENCY frames before that. I think this naturally precludes sending ACK FREQUENCY in 0-RTT, but there might be corner cases in which the client knows the result of the TP negotiation before it has access to the 1-RTT keys -- for example if some of the crypto processing is going on in a crypto offload engine. If we are firm on negotiation, then we don't need to make a statement about 0RTT vs 1RTT.

@huitema I'm not sure if that follows the design of RFC 9000.

For frames that can be sent in 0-RTT, RFC 9000 requires endpoints to remember and reuse the value of the Transport Parameters:
> When sending frames in 0-RTT packets, a client MUST only use remembered transport parameters; importantly, it MUST NOT use updated values that it learns from the server's updated transport parameters or from frames received in 1-RTT packets. ([section 7.4.1 of RFC 9000](https://quicwg.org/base-drafts/rfc9000.html#section-7.4.1-12))

Another potential option here in support of the basic design: this document could require that the value of max_ack_delay be remembered alongside min_ack_delay, (only)? for the generation of ACK_FREQUENCY frames.

@martinthomson Would you mind elaborate why your implementation cannot prohibit frames being sent in 0-RTT packets from being affected by TPs other than remembered ones?

RFC 9000 states that _when sending frames in 0-RTT packets, a client MUST only use remembered transport parameters_, and that _the definition of a new transport parameter MUST specify whether storing the transport parameter for 0-RTT is mandatory, optional, or prohibited_ ([section 7.4.1](https://quicwg.org/base-drafts/rfc9000.html#section-7.4.1)).

So it seems to me that, for Transport parameters that are prohibited to be remembered, QUIC stacks are expected to be capable of prohibiting those parameters to be used when sending frames using 0-RTT packets.

It seems to me that you are against us building extensions on that guidance.

I think there is broad support for not sending ACK_FREQUENCY frames before the negotiation completes. In response to the comment from @kazuho, this requires that "storing the transport parameter for 0-RTT is prohibited." If we do that, we also satisfy the requirement stated by @martinthomson that 0-RTT processing be pretty much the same as 1-RTT processing: there is no new difference between 0-RTT and 1-RTT, in both cases the transport can only send the frame if the peer has explicitly accepted them.

Thanks @kazuho and @huitema I agree that if we prohibit storing min_ack_delay, ACK_FREQUENCY can't be sent in 0-RTT, and I believe that should solve @martinthomson issue?

Storing BOTH min_ack_delay and max_ack_delay is a direction I'd really rather avoid.  

This works to ensure that there are no surprises for servers. But it doesn't prevent clients from sending the frame in 0-RTT. Our stack will apply transport parameters after receiving them. This is before handshake completion, so if we are still sending 0-RTT, we might send the frame. I don't believe that we will in practice, due to the logic we use for sending it. That logic is something that might change, so there are no strong guarantees.

I do think that this is a good solution, I just want to make the consequences clear.

@martinthomson If we are to prohibit min_ack_delay from being remembered, I do not think we can allow them to be sent in 0-RTT. 

Requoting from RFC 9000, _when sending frames in 0-RTT packets, a client MUST only use remembered transport parameters_, and that _the definition of a new transport parameter MUST specify whether storing the transport parameter for 0-RTT is mandatory, optional, or prohibited_ ([section 7.4.1](https://quicwg.org/base-drafts/rfc9000.html#section-7.4.1)).

Am I missing something?

Also, I would point out that, even for remembered TPs, QUIC stacks are required to refrain from using the newly received ones in 0-RTT packets. For example, if the remembered value of MAX_STREAMS is 0 and the newly received value is 4, an endpoint is forbidden to open _any_ stream in 0-RTT even _after_ receiving the transport parameters. It is only when you switch to using 1-RTT packets that the newly received transport parameter is applied.

For your implementation, wouldn't it be possible to use the same latch for ack_frequency?

Oh, whoops.  We don't have that latch.  We'll probably open 4 streams if initial_max_streams_xxx is 4 in the handshake and we remembered 0.

In any case, we can probably add a latch.  It might even make the code simpler.